

.AboutLink {
    background: var(--bg2);
    border: 1px solid var(--lightGrey);
    border-radius: var(--borderRadius);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.15s ease-in-out;
    overflow: hidden;
    text-align: center;
    font-size: 2.8em;
    color: var(--textTitle);
    margin: 0.35em;
  }
  
  .AboutLink:hover,
  .AboutLink:focus {
    transform: translateY(-1px);
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.30);
 
  }

  .link {
      text-decoration: none;
  }

  p {
    margin-bottom: 0em;
  }

  .Content {
    display: inline-block;
    padding: 0.1em;
  }

  .links .Content strong {
    text-decoration: underline;
  }

