

.AboutLink {
    background: white;
    color: inherit;
    border: 1px solid var(--lightGrey);
    border-radius: var(--borderRadius);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.15s ease-in-out;
    overflow: hidden;
    text-align: center;
    font-size: 2em;
    color: #0072F9;
    margin: 0.35em;
  }
  
  .AboutLink:hover,
  .AboutLink:focus {
    transform: translateY(-1px);
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
  }

  .link {
      text-decoration: none;
  }